.main {
  background-color: black;
  opacity: 0.85;
  font-family: Source Sans Pro;
}

.slide {
  font-size: 1.4em;
  height: 90%;
  color: white;
}

.slide > .top {
  height: 5%;
}

.controls {
  height: 10%;
  margin-right: 1px;
}
